@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700;800&display=swap');


:root{
    --font-body: 'Open Sans', sans-serif;
    --font-heading: 'Poppins', sans-serif;

    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);

    --neutral-dark-cryan: hsl(192, 100%, 9%);
    --neutral-pale-blue: hsl(207, 100%, 98%);
    --shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}